@tailwind base;
@tailwind components;
@tailwind utilities;

.bg{
  background-image: url('/public//bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* 
.card {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  overflow-x: auto;
}

.card div:first-child {
  margin-left: auto;
}

.card div:last-child {
  margin-right: auto;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
